# Prediccion de Default en Prestamos

Para este proyecto utilizaremos un sample de los datos de Lending Club. La idea es predecir si cierto usuario cometera Default basado en informacion que la plataforma recolecta. Esto nos ayudara a mejorar la metodologia/pipeline de prestamo.

# Descripcion



Contiene los prestamos de esta plataforma:

    periodo 2007-2017Q3.
    887mil observaciones, sample de 100mil
    150 variables
    Target: loan status

# Objetivo

Realizar un ETL y un EDA

## ETL

0. Limpia los datos de tal manera que al final del ETL queden en formato `tidy`.
1. Asegurate de cargar y leer los datos
2. Crea una tabla donde se guarde el nombre de la columna y el tipo de dato: (`column_name`,   `type`).
3. Asegurate de pensar cual es el tipo de dato correcto. Porque elejiste strig/object o float o int?. No hay respuestas incorrectas como tal, pero tienes que justificar tu decision.
4. Maneja missings o nans de la manera adecuada. Justifica cada decision

## EDA

0. Preparar lo datos para un pipeline de datos
1. Quitar columnas inservibles 
2. Imputar valores
3. Mantener replicabildiad y reproducibilidad

**No olvides anotar tus justificaciones en celdas para recordar cuando te toque explicarlo.** Puedes agregar el numero de celdas que necesites para poner tu explicacion y el codigo, solo manten la estructura.

# ETL

In [1]:
import pandas as pd
import numpy as np

Vas a obtener 2 errores, solucionalo con los visto en clase.  
Tip: Se arreglan con argumentos adicionales de la funcion `read_csv`  
Documentacion: https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [3]:
loans = pd.read_csv('https://github.com/sonder-art/fdd_prim_2023/blob/main/codigo/pandas/LoansData_sample.csv.gz?raw=true', compression='gzip', low_memory=False)

loans

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,0,38098114,NaN,15000.0,15000.0,15000.0,60 months,12.39,336.64,C,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,1,36805548,NaN,10400.0,10400.0,10400.0,36 months,6.99,321.08,A,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,2,37842129,NaN,21425.0,21425.0,21425.0,60 months,15.59,516.36,D,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,3,37612354,NaN,12800.0,12800.0,12800.0,60 months,17.14,319.08,D,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,4,37662224,NaN,7650.0,7650.0,7650.0,36 months,13.66,260.20,C,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,22454240,NaN,8400.0,8400.0,8400.0,36 months,9.17,267.79,B,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99996,99996,11396920,NaN,10000.0,10000.0,10000.0,36 months,12.99,336.90,C,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99997,99997,8556176,NaN,30000.0,30000.0,30000.0,60 months,20.99,811.44,E,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99998,99998,24023408,NaN,8475.0,8475.0,8475.0,36 months,24.99,336.92,F,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99999,99999,24023398,NaN,25000.0,25000.0,25000.0,36 months,10.15,808.45,B,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

## Tabla (column_name, type)

Revisa el metodo pd.DataFrame.dtypes. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dtypes.html

In [13]:
column_types = loans.dtypes
column_types

Unnamed: 0                 int64
id                         int64
member_id                float64
loan_amnt                float64
funded_amnt              float64
                          ...
settlement_status         object
settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 151, dtype: object

## Cargar descripcion de columnas

La siguiente tabla tiene una descripcion del significado de cada columna

In [5]:


datos_dict = pd.read_excel(
    'https://resources.lendingclub.com/LCDataDictionary.xlsx')
datos_dict.columns = ['feature', 'description']

In [6]:
datos_dict

                   feature                                        description
0           acc_now_delinq  The number of accounts on which the borrower i...
1     acc_open_past_24mths         Number of trades opened in past 24 months.
2               addr_state  The state provided by the borrower in the loan...
3                 all_util              Balance to credit limit on all trades
4               annual_inc  The self-reported annual income provided by th...
..                     ...                                                ...
148      settlement_amount  The loan amount that the borrower has agreed t...
149  settlement_percentage  The settlement amount as a percentage of the p...
150        settlement_term  The number of months that the borrower will be...
151                    NaN                                                NaN
152                    NaN  * Employer Title replaces Employer Name for al...

[153 rows x 2 columns]

### Pickle

Crea codigo para **guardar** y **cargar** el DataFrame de `datos_dict` creada en las celdas anteriores en formato **pickle**

In [11]:
# COdigo guardar
import pickle

with open('datos_dict.pkl','wb') as file:
    pickle.dump(datos_dict, file)

In [20]:
# Codigo para cargar
datos_dict_from_pickle = None
with open('datos_dict.pkl','rb') as file:
    datos_dict_from_pickle = pickle.load(file)

list(datos_dict_from_pickle.description)

['The number of accounts on which the borrower is now delinquent.',
 'Number of trades opened in past 24 months.',
 'The state provided by the borrower in the loan application',
 'Balance to credit limit on all trades',
 'The self-reported annual income provided by the borrower during registration.',
 'The combined self-reported annual income provided by the co-borrowers during registration',
 'Indicates whether the loan is an individual application or a joint application with two co-borrowers',
 'Average current balance of all accounts',
 'Total open to buy on revolving bankcards.',
 'Ratio of total current balance to high credit/credit limit for all bankcard accounts.',
 'Number of charge-offs within 12 months',
 'post charge off collection fee',
 'Number of collections in 12 months excluding medical collections',
 "The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years",
 'The past-due amount owed for the accounts on which the borrower is now delinquent.',
 'Loan description provided by the borrower',
 'A ratio calculated using the borrower’s total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrower’s self-reported monthly income.',
 "A ratio calculated using the co-borrowers' total monthly payments on the total debt obligations, excluding mortgages and the requested LC loan, divided by the co-borrowers' combined self-reported monthly income",
 "The month the borrower's earliest reported credit line was opened",
 'Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years. ',
 'The job title supplied by the Borrower when applying for the loan.*',
 'The upper boundary range the borrower’s FICO at loan origination belongs to.',
 'The lower boundary range the borrower’s FICO at loan origination belongs to.',
 'The total amount committed to that loan at that point in time.',
 'The total amount committed by investors for that loan at that point in time.',
 'LC assigned loan grade',
 'The home ownership status provided by the borrower during registration\xa0or obtained from the credit report.\xa0Our values are: RENT, OWN, MORTGAGE, OTHER',
 'A unique LC assigned ID for the loan listing.',
 'Ratio of total current balance to high credit/credit limit on all install acct',
 'The initial listing status of the loan. Possible values are – W, F',
 'Number of personal finance inquiries',
 'Number of credit inquiries in past 12 months',
 'The number of inquiries in past 6 months (excluding auto and mortgage inquiries)',
 'The monthly payment owed by the borrower if the loan originates.',
 'Interest Rate on the loan',
 'The month which the loan was funded',
 'The most recent month LC pulled credit for this loan',
 'The upper boundary range the borrower’s last FICO pulled belongs to.',
 'The lower boundary range the borrower’s last FICO pulled belongs to.',
 'Last total payment amount received',
 'Last month payment was received',
 'The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value.',
 'Current status of the loan',
 'Maximum current balance owed on all revolving accounts',
 'A unique LC assigned Id for the borrower member.',
 'Months since oldest bank installment account opened',
 'Months since oldest revolving account opened',
 'Months since most recent revolving account opened',
 'Months since most recent account opened',
 'Number of mortgage accounts.',
 "The number of months since the borrower's last delinquency.",
 'Months since most recent 90-day or worse rating',
 'The number of months since the last public record.',
 'Months since most recent installment accounts opened',
 'Months since most recent bankcard account opened.',
 'Months since most recent bankcard delinquency',
 'Months since most recent inquiry.',
 'Months since most recent revolving delinquency.',
 'Next scheduled payment date',
 'Number of accounts ever 120 or more days past due',
 'Number of currently active bankcard accounts',
 'Number of currently active revolving trades',
 'Number of satisfactory bankcard accounts',
 'Number of bankcard accounts',
 'Number of installment accounts',
 'Number of open revolving accounts',
 'Number of revolving accounts',
 'Number of revolving trades with balance >0',
 'Number of satisfactory accounts',
 'Number of accounts currently 120 days past due (updated in past 2 months)',
 'Number of accounts currently 30 days past due (updated in past 2 months)',
 'Number of accounts 90 or more days past due in last 24 months',
 'Number of accounts opened in past 12 months',
 "The number of open credit lines in the borrower's credit file.",
 'Number of open trades in last 6 months',
 'Number of installment accounts opened in past 12 months',
 'Number of installment accounts opened in past 24 months',
 'Number of currently active installment trades',
 'Number of revolving trades opened in past 12 months',
 'Number of revolving trades opened in past 24 months',
 'Remaining outstanding principal for total amount funded',
 'Remaining outstanding principal for portion of total amount funded by investors',
 'Percent of trades never delinquent',
 'Percentage of all bankcard accounts > 75% of limit.',
 'publicly available policy_code=1\nnew products not publicly available policy_code=2',
 'Number of derogatory public records',
 'Number of public record bankruptcies',
 'A category provided by the borrower for the loan request. ',
 'Indicates if a payment plan has been put in place for the loan',
 'post charge off gross recovery',
 'Total credit revolving balance',
 'Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit.',
 'LC assigned loan subgrade',
 'Number of tax liens',
 'The number of payments on the loan. Values are in months and can be either 36 or 60.',
 'The loan title provided by the borrower',
 'Total collection amounts ever owed',
 'Total current balance of all accounts',
 'Total high credit/credit limit',
 "The total number of credit lines currently in the borrower's credit file",
 'Total credit balance excluding mortgage',
 'Total current balance of all installment accounts',
 'Total bankcard high credit/credit limit',
 'Number of finance trades',
 'Total installment high credit/credit limit',
 'Payments received to date for total amount funded',
 'Payments received to date for portion of total amount funded by investors',
 'Interest received to date',
 'Late fees received to date',
 'Principal received to date',
 'Total revolving high credit/credit limit',
 'URL for the LC page with listing data.',
 'Indicates if income was verified by LC, not verified, or if the income source was verified',
 "Indicates if the co-borrowers' joint income was verified by LC, not verified, or if the income source was verified",
 'The first 3 numbers of the zip code provided by the borrower in the loan application.',
 ' Sum of revolving credit balance of the co-borrowers, net of duplicate balances',
 ' FICO range (high) for the secondary applicant',
 ' FICO range (low) for the secondary applicant',
 ' Earliest credit line at time of application for the secondary applicant',
 ' Credit inquiries in the last 6 months at time of application for the secondary applicant',
 ' Number of mortgage accounts at time of application for the secondary applicant',
 ' Number of open trades at time of application for the secondary applicant',
 ' Ratio of total current balance to high credit/credit limit for all revolving accounts',
 ' Number of currently active installment trades at time of application for the secondary applicant',
 ' Number of revolving accounts at time of application for the secondary applicant',
 ' Number of charge-offs within last 12 months at time of application for the secondary applicant',
 ' Number of collections within last 12 months excluding medical collections at time of application for the secondary applicant',
 ' Months since most recent 90-day or worse rating at time of application for the secondary applicant',
 'Flags whether or not the borrower is on a hardship plan',
 'Describes the hardship plan offering',
 'Describes the reason the hardship plan was offered',
 'Describes if the hardship plan is active, pending, canceled, completed, or broken',
 'Amount of months that the borrower is expected to pay less than the contractual monthly payment amount due to a hardship plan',
 'The interest payment that the borrower has committed to make each month while they are on a hardship plan',
 'The start date of the hardship plan period',
 'The end date of the hardship plan period',
 'The day the first hardship plan payment is due. For example, if a borrower has a hardship plan period of 3 months, the start date is the start of the three-month period in which the borrower is allowed to make interest-only payments.',
 'The number of months the borrower will make smaller payments than normally obligated due to a hardship plan',
 'Account days past due as of the hardship plan start date',
 'Loan Status as of the hardship plan start date',
 'The original projected additional interest amount that will accrue for the given hardship payment plan as of the Hardship Start Date. This field will be null if the borrower has broken their hardship payment plan.',
 'The payoff balance amount as of the hardship plan start date',
 'The last payment amount as of the hardship plan start date',
 'The method by which the borrower receives their loan. Possible values are: CASH, DIRECT_PAY',
 'Flags whether or not the borrower, who has charged-off, is working with a debt-settlement company.',
 'The most recent date that the Debt_Settlement_Flag has been set\xa0\xa0',
 'The status of the borrower’s settlement plan. Possible values are: COMPLETE, ACTIVE, BROKEN, CANCELLED, DENIED, DRAFT',
 'The date that the borrower agrees to the settlement plan',
 'The loan amount that the borrower has agreed to settle for',
 'The settlement amount as a percentage of the payoff balance amount on the loan',
 'The number of months that the borrower will be on the settlement plan',
 nan,
 '* Employer Title replaces Employer Name for all loans listed after 9/23/2013']

## Tipos de Datos

Realiza las transformaciones o casteos (casting) que creas necesarios a tus datos de tal manera que el typo de dato sea adecuado. Al terminar recrea la tabla `column_types` con los nuevos tipos.

No olvides anotar tus justificaciones para recordar cuando te toque explicarlo.

In [31]:
to_int_cols = ['loan_amnt','funded_amnt','funded_amnt_inv','tot_hi_cred_lim','total_bal_ex_mort','total_bc_limit','total_il_high_credit_limit']
#Reduce size of dataframe in memory by converting all the floats to int32
for column in to_int_cols:
    loans[column]=loans[column].apply(np.int32)

In [34]:
# Here I'm just extracting the months of the term so I can query using it
loans['term']=loans['term'].apply(lambda x: int(x.replace('month', '').strip()) if not 'months' in x else int(x.replace('months', '').strip()))

In [47]:
column_types = loans.dtypes
column_types

Unnamed: 0                 int64
id                         int64
member_id                float64
loan_amnt                  int32
funded_amnt                int32
                          ...
settlement_status         object
settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 151, dtype: object

## Manejo de NaNs o missings

Maneja los datos de tipos missing. Elije una estrategia adecuada dependiendo del tipo de dato que le asignaste a la columna.

Crea codigo para **guardar** y **cargar** un archivo JSON en el que se guarde la `estrategia` y `valor` que utilizaste para **imputar**. Por ejemplo: Si hay una columna que se llama `columna 3` y utilizaste la estrategia de imputacion de media, y existe otra llamada `columna 4` y  elegiste la palabra 'missing' el JSON debera contener:  
  
 `{'columna 3':{'estrategia':'mean', 'valor':3.4}, 'columna 4':{'estrategia':'identificador', 'valor':'missing'}}`  

 De tal manera que para cada columna que tenga un metodo de imputacion apunte a otro diccionario donde el **key** `estrategia` describa de manera sencilla el metodo, y el **key** `valor` el valor usado. En general:   
 `{'nombre de la columna':{'estrategia':'descripcion de estrategia', 'valor':'valor utilizado'}}`. 
 

De utilizar mas de un metodo puedes anidarlos en una lista  
  `[{...},{...}]`.  

Incluso si la columna utilizada no sufrio imputacion, es necesario que la agregues al JSON.

La idea es que cualquier otra persona pueda cargar el el archivo JSON con tu funcion, entender que hiciste y replicarlo facilmente. No existe solo una respuesta correcta, pero tendras que justificar y explicar tus deciciones.

### Imputacion

In [43]:
# Tu codigo aqui
cleaned_loans = loans.dropna(axis='columns', how='any')

specific_cols_loans = cleaned_loans[['id','loan_amnt','annual_inc','term','acc_now_delinq']]
specific_cols_loans = specific_cols_loans[specific_cols_loans['acc_now_delinq']>0]
specific_cols_loans['percentage_of_inc_to_fullfill'] = (specific_cols_loans['loan_amnt']/(specific_cols_loans['term']/12))/specific_cols_loans['annual_inc']
mean = specific_cols_loans['percentage_of_inc_to_fullfill'].mean()
risky_ones = specific_cols_loans[specific_cols_loans['percentage_of_inc_to_fullfill']>mean]

strategies = [{'id': 'int', 'loan_amnt': 'int', 'annual_inc': 'int', 'term': 'int', 'percentage_of_inc_to_fullfill':'((loan_amnt/(term/12))/annual_inc)>percentage_of_inc_to_fullfill@mean'},{'acc_now_delinq': '>0'}]
# All this user probably won't pay back the loan because they are already committing a crime.
# Also they have a lower chance of paying back because the percentage they need to assign of their
# total income is higher than the average loan.
print(risky_ones)
print(mean)

             id  loan_amnt  annual_inc  term  acc_now_delinq  \
40     37631762      11000     60000.0    36             1.0
104    37800170      18000    109000.0    36             1.0
405    36280834      21000    108600.0    36             1.0
421    33411541      12000     40000.0    60             1.0
566    37620902       8475     25000.0    36             1.0
...         ...        ...         ...   ...             ...
98229  19606339      24000     71000.0    60             1.0
98367  19205915       8650     55000.0    36             1.0
98544  20449082      10000     30000.0    60             1.0
99440  23943791      22000     90000.0    36             2.0
99536  23973518      10425     50000.0    36             3.0

       percentage_of_inc_to_fullfill
40                          0.061111
104                         0.055046
405                         0.064457
421                         0.060000
566                         0.113000
...                              ...
98229                       0.067606
98367                       0.052424
98544                       0.066667
99440                       0.081481
99536                       0.069500

[258 rows x 6 columns]
0.05171732883843193

In [44]:
# TUcodigo aqui
import json

with open('strategies.json', "w") as file:
    json.dump(strategies, file)

### Codigo para salvar y cargar JSONs